.rodape{
  display: block;
  background-color: #1D1B20;
  height: 180px;
  color: white;

  .base-footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-top: 35px;
  }
}
