footer{
  display: flex;
  background-color: #1D1B20;
  height: 130px;
  color: white;
  justify-content: space-around;
  align-items: center;

  .bloco-icons{
    img{
      padding-right: 20px;
    }
  }
}
