<footer>
  <div class="rodape">
    <img src="assets/images/logo.png" alt="Logo da aplicação Jornada Milhas" />
    <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
    <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
  </div>
  <div>
    <p>Acesse nossas redes:</p>
    <div class="bloco-icons">
      <img src="assets/icons/instagram.png" alt="Logo Instagram" />
      <img src="assets/icons/twitter.png" alt="Logo Instagram" />
      <img src="assets/icons/whatsapp.png" alt="Logo Instagram" />
    </div>
  </div>
</footer>
